<mat-sidenav-container class="sidenav-container">
  <!-- Agrega fixedInViewport en mat-sidenav para sobreponer el sidevar en el header -->
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <label for="">Modalidades</label>
      <a mat-list-item href="#">Taxi</a>
      <a mat-list-item href="#">Autobus</a>
      <a mat-list-item href="#">Carga</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>DASHBOARD</span>
    </mat-toolbar>
    <!-- Add Content Here -->
     <app-dashboard1></app-dashboard1>
  </mat-sidenav-content>
</mat-sidenav-container>
