.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  color: aliceblue;
  /* background-color: #38071c; */
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar{
  background-color: #38071c;
}
